<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" class="homeContent" fxFlex="100" fxLayoutAlign="center center" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <h1 class="bigHeading">About Us</h1>
      <p>In South Africa, the term township usually refer to a suburb or city of predominantly black occupation, formerly officially designated for black occupation by apartheid legislation&#x2026; &#x201C;Hmmm ok, that&#x2019;s a dictionary version&#x201D;. Let&#x2019;s put it this way, the term Township usually refer to the often underdeveloped segregated urban areas that, from the late 19th century until the end of apartheid, were reserved for non-whites. These townships were usually built on the periphery of towns and cities. They were often neglected and impoverished and were renamed by the locals as &#x201C;Kasi&#x201D;.</p>
      <mat-card>
        <img mat-card-image imgSrc="Web/Icons/township.jpg">

        <mat-card-subtitle><i>One of South Africa&apos;s largest township: </i> <b> Soweto</b></mat-card-subtitle>
      </mat-card>
      <p><b>KasiDevs</b> (in full: Kasi Developers) was establish on the principal philosophy of &#x2013; &#x201C;Give a man a fish, and you feed him for a day. Teach a man to fish, and you feed him for a lifetime. The only way to help eradicate poverty is to provide young people with skills that will best equip them for the fourth industrial revolution.</p>
      <p>Our aim is to create IT centers of excellence where young people can be exposed to the IT world through interactive training programs. An environment that is creative and communication with teachers in other countries. Where training is not confined to a classroom environment but where free thinking and creativity is optimum explored. Where we ensure that young people are linked with experienced and well established companies so that training is not just training but has an end goal of employment or a stepping stone to entrepreneur ventures.</p>
    </div>
  </div>
</div>